<ion-header *ngIf="b">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ b.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="b">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="8">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col sizeLg="6">
              <small>Date de création: {{ b.getCreationdate() | dateFr:'date'}}</small>
            </ion-col>
            <ion-col sizeLg="6">
              <small>Date de mise à jour: {{ b.getUpdateDate() | dateFr:'date'}}</small>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col sizeLg="12">
              <ion-item>
                <ion-label>
                  <ion-title>Description</ion-title>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-text>
                    {{  b.description }}
                  </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center"> <!--Respo-->
            <ion-col sizeLg="12">
              <ion-item>
                <ion-label>
                  <ion-title>Respo</ion-title>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-text>
                  {{ b.respo }}
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center"> <!--Rotance-->
            <ion-col sizeLg="12">
              <ion-item>
                <ion-buttons slot="end" *ngIf="ownerShip">
                  <ion-button (click)="onAddRotance()" ><ion-icon name="add-outline"></ion-icon></ion-button>
                </ion-buttons>
                <ion-title>Rotance</ion-title>
              </ion-item>
              <ion-item>
                <ion-label *ngIf="!rotanceLoading">
                  <ion-list *ngIf="rotanceList && rotanceList.length>0">
                    <app-rotance-single *ngFor="let r of rotanceList" [singleRotance]="r"></app-rotance-single>
                  </ion-list>
                  <p *ngIf="!rotanceList || rotanceList.length<1">Il n'y pas eu de rotance pour l'instant</p>
                </ion-label>
                <ion-spinner *ngIf="rotanceLoading"></ion-spinner>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center"> <!--Post-->
            <ion-col sizeLg="12">
              <ion-item>
                <ion-buttons slot="end" *ngIf="ownerShip">
                  <ion-button (click)="onAddMessage()" ><ion-icon name="add-outline"></ion-icon></ion-button>
                </ion-buttons>
                <ion-title>Message</ion-title>
              </ion-item>
              <ion-item>
                <ion-label *ngIf="!messageLoading">
                  <ion-list *ngIf="postsList && postsList.length>0">
                    <app-posts-single *ngFor="let r of postsList" [singlePost]="r"></app-posts-single>
                  </ion-list>
                  <p *ngIf="!postsList || postsList.length<1">Il n'y pas de message pour l'instant</p>
                </ion-label>
                <ion-spinner *ngIf="messageLoading"></ion-spinner>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
