<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="onBack()" defaultHref="/boquette/{{ boquette.getId() }}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmitForm()" [disabled]="newRotance.invalid"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouvelle rotance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newRotance" (ngSubmit)="onSubmitForm()">
    <ion-item>
      <ion-label position="floating" for="lieu">Lieu</ion-label>
      <ion-input type="text" id="lieu" formControlName="lieu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="info">Information</ion-label>
      <ion-textarea id="info" formControlName="info" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="date">Date</ion-label>
      <ion-datetime pickerFormat="YYYY-MM-DD" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="time">Heure</ion-label>
      <ion-datetime pickerFormat="HH:mm" formControlName="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label for="started">Commencé</ion-label>
      <ion-checkbox slot="end" id="started" formControlName="commencer"></ion-checkbox>
    </ion-item>
  </form>
</ion-content>