<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Erreur interne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="8">
        <ion-item>
          <ion-text>
            Il semblerai que le serveur soit partie au foy'ss. 
            Soit tu peux essayer de le sortir de là, soit tu peux contacter un administrateur I-Resam.
            Dans tous les cas, on est désolé du problème et on travail pour que ca n'arrive plus.
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>