h2,h3{
    font-weight: bolder;
}

ion-col{
    background : var(--ion-toolbar-background, var(--ion-background-color, #fff));
    border-radius: 5px;
}

@media(min-width: 576px){
    .inside{
        width: 80%;
        border-bottom: 2px solid var(--ion-color-primary-tint);
        border-radius: 1px;
    }
}