<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/auth/login"><ion-icon name="log-in-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="8" >
        <h1>Boquettes</h1>
        <ion-list>
          <div *ngFor="let b of boquetteList">
            <app-boquette-single [singleBoquette]="b"></app-boquette-single>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="8">
        <h1>Channel</h1>
        <ion-list>
          <div *ngFor="let c of channelList">
            <app-channel-single [singleChannel]="c"></app-channel-single>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
