ion-col{
    background : var(--ion-item-background, var(--ion-background-color, #fff)); 
    border-radius: 5px;
}

.inside{
    width: 80%;
    border-bottom: 2px solid var(--ion-color-primary-tint);
    border-radius: 1px;
}